<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Return Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{https://pro.fontawesome.com/releases/v5.10.0/css/all.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<!-- BOOTSTRAP NAVBAR -->
<nav id="navigation-bar" class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img th:src="@{images/navigationBar/logo.png}" class="pageLogo" alt="Plushie logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/home}">Home</a>
                <a class="nav-link" th:href="@{/products}">Products</a>
                <a class="nav-link" th:href="@{/aboutUs}">About Us</a>
                <a class="nav-link" th:href="@{/contacts}">Contacts</a>
                <a class="nav-link" th:href="@{/profile}">Profile</a>
                <a class="nav-link" th:href="@{/cart}">
                    <img th:src="@{images/navigationBar/cart.png}" class="cartPicture" alt="Cart">
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="container-xl">
    <h1 class="pt-5">Return Policy for Plushies.</h1>
    <ul>
        <li>You have 15 days from the date of your original purchase to make a return.</li>
        <li>Returned items must be postmarked within 10 days of the purchase date.</li>
    </ul>
    <h3>3. Return Condition</h3>
    <p>To be eligible for a return, your item must be:</p>
    <ul>
        <li>Unused and in the same condition that you received it.</li>
        <li>In the original packaging with all tags intact.</li>
        <li>Accompanied by the original receipt or proof of purchase.</li>
    </ul>
    <h3>4. Non-returnable Items</h3>
    <p>Certain types of items cannot be returned, such as:</p>
    <ul>
        <li>Customized or personalized items.</li>
        <li>Sale items (if applicable).</li>
        <li>Gift cards.</li>
        <li>Products that have been used or altered.</li>
    </ul>
    <h3>5. Processing Returns</h3>
    <p>To return your product, please follow these steps:</p>
    <ul>
        <li>Contact us at plushies.info@blabla.com to initiate the return process.</li>
        <li>We will provide you with a return shipping label and instructions on how and where to send your package.</li>
        <li>You will be responsible for paying for your own shipping costs for returning your item, unless the return is due to our error (e.g., defective or incorrect item).</li>
    </ul>
    <h3>6. Refunds</h3>
    <p>Once your return is received and inspected, we will send you a notification of the receipt of the returned item. We will also notify you of the approval or rejection of your refund.</p>
    <ul>
        <li>If approved, your refund will be processed, and a credit will automatically be applied to your original method of payment, within a certain amount of days.</li>
    </ul>
    <h3>7. Exchanges</h3>
    <p>We only replace items if they are defective or damaged. If you need to exchange an item for the same item, send us an email at [contact information] and send your item to the return address provided.</p>
    <h3>8. Gifts</h3>
    <p>If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.</p>
    <h3>9. Contact Us</h3>
    <p>If you have any questions about our return policy, please contact us at:</p>
    <ul>
        <li>Address: Hurbanova 37, Dubnica nad Váhom</li>
        <li>Phone number: +421 955 338 485</li>
        <li>E-mail address: plushies.info@blabla.com</li>
    </ul>
    <p>Thank you for shopping at Plushies.</p>
    <p class="pt-5">This policy is effective as of 17. 11. 2023</p>
</div>


<!-- FOOTER -->
<div id="footer" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4 col-xs-12 d-flex flex-column align-items-center">
            <h5 class="pt-3 fw-bold">Quick Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a th:href="@{/home}">Home</a>
                </li>
                <li>
                    <a th:href="@{/products}">Products</a>
                </li>
                <li>
                    <a th:href="@{/aboutUs}">About Us</a>
                </li>
                <li>
                    <a th:href="@{/contacts}">Contacts</a>
                </li>
                <li>
                    <a th:href="@{/profile}">Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-12 d-flex flex-column align-items-center">
            <h5 class="pt-3 fw-bold">Policy</h5>
            <ul class="list-unstyled">
                <li>
                    <a th:href="@{/privacyPolicy}">Privacy Policy</a>
                </li>
                <li>
                    <a th:href="@{/returnPolicy}">Return Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-12 d-flex flex-column align-items-center">
            <h5 class="pt-3 fw-bold">Contact Us</h5>
            <ul class="list-unstyled">
                <li> Need to contact us? Feel free to head <a class="fw-bold text-dark" href="contacts.html"> here </a></li>
                <li>
                    <a href="#">plushies.info@blabla.com</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>